<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="#{abandon}">Abandon</title>
</head>
<body>
<div layout:fragment="content">
  <form th:action="@{/body-settings/abandon}" method="post">
    <input name="body" type="hidden" th:value="${bodyId}">
    <table>
      <tr>
        <th colspan="2" th:text="#{abandon}">Abandon</th>
      </tr>
      <tr>
        <td>
          <label for="password" th:text="#{password}">Password</label>
        </td>
        <td>
          <input id="password" name="password" type="password" required>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <button th:text="#{abandon}">Abandon</button>
        </td>
      </tr>
    </table>
  </form>
</div>
</body>
</html>