<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="#{renameBody}">Rename body</title>
</head>
<body>
<div layout:fragment="content">
  <form th:action="@{/body-settings/rename}" method="post">
    <input name="body" type="hidden" th:value="${bodyId}">
    <table>
      <tr>
        <th colspan="2" th:text="#{renameBody}">Rename body</th>
      </tr>
      <tr>
        <td>
          <label for="name" th:text="#{name}">Name</label>
        </td>
        <td>
          <input id="name" name="name" minlength="3" maxlength="16" pattern="^[A-Za-z0-9]+( ?[A-Za-z0-9])*$" required>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <button th:text="#{rename}">Rename</button>
        </td>
      </tr>
    </table>
  </form>
</div>
</body>
</html>