<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="#{sendMissiles}">Send missiles</title>
</head>
<body>
<div layout:fragment="content">
  <form th:action="@{/flights/send-missiles}" method="post">
    <input name="body" type="hidden" th:value="${bodyId}">
    <table>
      <tr>
        <th colspan="2" th:text="#{sendMissiles}">Send missiles</th>
      </tr>
      <tr>
        <td th:text="#{coordinates}">Coordinates</td>
        <td>
          <input name="galaxy" type="number" th:value="${galaxy != null ? galaxy : ''}" min="1" max="5" required>
          <input name="system" type="number" th:value="${system != null ? system : ''}" min="1" max="500" required>
          <input name="position" type="number" th:value="${position != null ? position : ''}" min="1" max="15" required>
          <select name="kind">
            <option value="PLANET"
                    th:selected="${kind == T(com.github.retro_game.retro_game.service.dto.CoordinatesKindDto).PLANET}"
                    th:text="#{planet}">
              Planet
            </option>
            <option value="MOON"
                    th:selected="${kind == T(com.github.retro_game.retro_game.service.dto.CoordinatesKindDto).MOON}"
                    th:text="#{moon}">
              Moon
            </option>
          </select>
        </td>
      </tr>
      <tr>
        <td>
          <label for="numMissiles" th:text="#{numMissiles}"></label>
        </td>
        <td>
          <input id="numMissiles" name="numMissiles" type="number" min="1" required>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <button th:text="#{send}">Send</button>
        </td>
      </tr>
    </table>
  </form>
</div>
</body>
</html>
