<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="#{galaxy}">Galaxy</title>
</head>
<body>
<div layout:fragment="content">
  <div th:replace="galaxy-navigation :: galaxy-navigation"></div>
  <table>
    <tr>
      <th width="30" th:text="#{slot}">Slot</th>
      <th width="30" th:text="#{planet}">Planet</th>
      <th width="130" th:text="#{planetName}">Planet name</th>
      <th width="30" th:text="#{moon}">Moon</th>
      <th width="200" th:text="#{debris}">Debris</th>
      <th width="150" th:text="#{userName}">User name</th>
      <th width="30" th:text="#{actions}">Actions</th>
    </tr>
    <tr th:each="i : ${#numbers.sequence(1, 15)}" th:with="slot=${slots.get(i)}">
      <th:block th:if="${slot}">
        <td th:text="${i}"></td>
        <td th:class="${position == i && kind == T(com.github.retro_game.retro_game.service.dto.CoordinatesKindDto).PLANET ? 'highlight' : ''}">
          <img
              th:src="@{/static/skins/{skin}/bodies/{type}_{image}.jpg(skin=${skin},type=${slot.planetType},image=${slot.planetImage})}"
              data-tooltip data-tooltip-html th:data-tooltip-title="
                '<table>' +
                  '<tr>' +
                    '<th colspan=2>' + ${slot.planetName} + '</th>' +
                  '</tr>' +
                  '<tr>' +
                    '<td><img src=\'' + @{/static/skins/{skin}/bodies/{type}_{image}.jpg(skin=${skin},type=${slot.planetType},image=${slot.planetImage})} + '\' width=55 height=55></td>' +
                    '<td>' +
                      (${slot.own} ? '<p><a href=\'' + @{/flights/send(body=${bodyId},galaxy=${galaxy},system=${system},position=${i},kind='PLANET',mission='DEPLOYMENT')} + '\'>' + #{mission.DEPLOYMENT} + '</a></p>' : '') +
                      (${!slot.own} ? '<p><a href=\'' + @{/flights/send(body=${bodyId},galaxy=${galaxy},system=${system},position=${i},kind='PLANET',mission='ATTACK')} + '\'>' + #{mission.ATTACK} + '</a></p>' : '') +
                      (${!slot.own} ? '<p><a href=\'' + @{/flights/send(body=${bodyId},galaxy=${galaxy},system=${system},position=${i},kind='PLANET',mission='HOLD')} + '\'>' + #{mission.HOLD} + '</a></p>' : '') +
                      '<p><a href=\'' + @{/flights/send(body=${bodyId},galaxy=${galaxy},system=${system},position=${i},kind='PLANET',mission='TRANSPORT')} + '\'>' + #{mission.TRANSPORT} + '</a></p>' +
                      (${systemWithinRange} ? '<p><a href=\'' + @{/phalanx(body=${bodyId},galaxy=${galaxy},system=${system},position=${i})} + '\'>' + #{phalanxScan} + '</a></p>' : '') +
                    '</td>' +
                  '</tr>' +
                '</table>'" width="30" height="30">
        </td>
        <td>
          <span th:text="${slot.planetName}"></span>
          <th:block th:if="${slot.activity < 60}">
            <span th:if="${slot.activity == 0}">(*)</span>
            <span th:unless="${slot.activity == 0}" th:text="'(' + ${slot.activity} + ')'">(42)</span>
          </th:block>
        </td>
        <td th:if="${slot.moonName}"
            th:class="${position == i && kind == T(com.github.retro_game.retro_game.service.dto.CoordinatesKindDto).MOON ? 'highlight' : ''}">
          <img th:src="@{/static/skins/{skin}/bodies/MOON_{image}.jpg(skin=${skin},image=${slot.moonImage})}"
               data-tooltip data-tooltip-html th:data-tooltip-title="
                '<table>' +
                  '<tr>' +
                    '<th colspan=2>' + ${slot.moonName} + '</th>' +
                  '</tr>' +
                  '<tr>' +
                    '<td><img src=\'' + @{/static/skins/{skin}/bodies/MOON_{image}.jpg(skin=${skin},image=${slot.moonImage})} + '\' width=55 height=55></td>' +
                    '<td>' +
                      (${slot.own} ? '<p><a href=\'' + @{/flights/send(body=${bodyId},galaxy=${galaxy},system=${system},position=${i},kind='MOON',mission='DEPLOYMENT')} + '\'>' + #{mission.DEPLOYMENT} + '</a></p>' : '') +
                      (${!slot.own} ? '<p><a href=\'' + @{/flights/send(body=${bodyId},galaxy=${galaxy},system=${system},position=${i},kind='MOON',mission='ATTACK')} + '\'>' + #{mission.ATTACK} + '</a></p>' : '') +
                      (${!slot.own} ? '<p><a href=\'' + @{/flights/send(body=${bodyId},galaxy=${galaxy},system=${system},position=${i},kind='MOON',mission='DESTROY')} + '\'>' + #{mission.DESTROY} + '</a></p>' : '') +
                      (${!slot.own} ? '<p><a href=\'' + @{/flights/send(body=${bodyId},galaxy=${galaxy},system=${system},position=${i},kind='MOON',mission='HOLD')} + '\'>' + #{mission.HOLD} + '</a></p>' : '') +
                      '<p><a href=\'' + @{/flights/send(body=${bodyId},galaxy=${galaxy},system=${system},position=${i},kind='MOON',mission='TRANSPORT')} + '\'>' + #{mission.TRANSPORT} + '</a></p>' +
                    '</td>' +
                  '</tr>' +
                '</table>'" width="25" height="25">
        </td>
        <td th:unless="${slot.moonName}"></td>
        <td th:class="${position == i && kind == T(com.github.retro_game.retro_game.service.dto.CoordinatesKindDto).DEBRIS_FIELD ? 'highlight' : ''}">
          <a th:if="${slot.debrisMetal >= 0 || slot.debrisCrystal >= 0}"
             th:href="@{/flights/send(body=${bodyId},galaxy=${galaxy},system=${system},position=${i},kind='DEBRIS_FIELD',mission='HARVEST')}"
             th:title="#{sendFleet}">
            <span th:text="${#numbers.formatInteger(slot.debrisMetal, 1, 'DEFAULT')}"></span>
            <br>
            <span th:text="${#numbers.formatInteger(slot.debrisCrystal, 1, 'DEFAULT')}"></span>
          </a>
        </td>
        <td>
          <a th:href="@{/messages/send(body=${bodyId},recipient=${slot.userId})}" th:title="#{sendMessage}"
             th:text="${slot.userName}"></a>
        </td>
        <td>
          <button data-spy th:data-galaxy="${galaxy}" th:data-system="${system}" th:data-position="${i}"
                  data-kind="PLANET" th:title="#{spyPlanet}" th:disabled="${slot.own}">
            P
          </button>
          <button data-spy th:data-galaxy="${galaxy}" th:data-system="${system}" th:data-position="${i}"
                  data-kind="MOON" th:title="#{spyMoon}" th:disabled="${slot.own || slot.moonName == null}">
            M
          </button>
        </td>
      </th:block>
      <th:block th:unless="${slot}">
        <td>
          <a th:href="@{/flights/send(body=${bodyId},galaxy=${galaxy},system=${system},position=${i},kind='PLANET',mission='COLONIZATION',units[COLONY_SHIP]=1)}"
             th:title="#{mission.COLONIZATION}" th:text="${i}"></a>
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </th:block>
    </tr>
    <tr>
      <th colspan="6">
        <span th:text="#{time}">Time</span>:
        <span th:text="${#dates.format(time, 'yyyy-MM-dd HH:mm:ss')}">2006-06-06 03:00:00</span>
      </th>
      <th id="galaxy-reload">
        <form>
          <input name="body" type="hidden" th:value="${bodyId}">
          <input name="galaxy" type="hidden" th:value="${galaxy}">
          <input name="system" type="hidden" th:value="${system}">
          <button th:title="#{keyboardShortcutSpace}" th:text="#{reload}">Reload</button>
        </form>
      </th>
    </tr>
  </table>
  <table id="reports">
  </table>
  <input id="num-probes" type="hidden" th:value="${numProbes}">
  <script th:src="@{/static/js/galaxy.js?{v}(v=${version})}"></script>
</div>
</body>
</html>