<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="#{overview}">Overview</title>
</head>
<body>
<div layout:fragment="content">
  <table th:with="body=${bodies.selectedBody}">
    <tr>
      <th colspan="4">
        <a th:href="@{/body-settings(body=${bodyId})}" th:title="#{bodySettings}" th:text="${body.name}">Homeworld</a>
        (<span th:text="${userName}">Gaius</span>)
      </th>
    </tr>
    <tr th:if="${numNewMessages > 0}">
      <td th:text="#{messages}">Messages</td>
      <td colspan="3">
        <a th:href="@{/messages(body=${bodyId})}" th:text="#{youHaveNewMessagesFormat(${numNewMessages})}">
          You have 42 new messages!
        </a>
      </td>
    </tr>
    <tr th:if="${numNewReports > 0}">
      <td th:text="#{reports}">Reports</td>
      <td colspan="3">
        <a th:href="@{/reports(body=${bodyId})}" th:text="#{youHaveNewReportsFormat(${numNewReports})}">
          You have 42 new reports!
        </a>
      </td>
    </tr>
    <tr>
      <td th:text="#{time}">Time</td>
      <td colspan="3" th:text="${#dates.format(serverTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
    </tr>
    <tr>
      <th colspan="4" th:text="#{flightEvents}">Flight Events</th>
    </tr>
    <tr th:each="event : ${flightEvents}">
      <td th:data-timer="${event.at.time / 1000}" th:text="${#dates.format(event.at, 'yyyy-MM-dd HH:mm:ss')}"></td>
      <td colspan="3" th:class="${'event ' + (event.own ? 'own-' : 'foreign-') + #strings.toLowerCase(event.mission)}"
          th:with="
            sc=${event.startCoordinates},
            tc=${event.targetCoordinates},
            startLink=@{/galaxy(body=${bodyId},galaxy=${sc.galaxy},system=${sc.system},position=${sc.position},kind=${sc.kind})},
            targetLink=@{/galaxy(body=${bodyId},galaxy=${tc.galaxy},system=${tc.system},position=${tc.position},kind=${tc.kind})},
            start=${event.startBodyName} + ' <a href=\'' + ${#strings.escapeXml(startLink)} + '\' title=\'' + #{goToGalaxy} + '\'>[' + ${sc} + ']</a>',
            target=${event.targetBodyName != null ? event.targetBodyName + ' ' : ''} + '<a href=\'' + ${#strings.escapeXml(targetLink)} + '\' title=\'' + #{goToGalaxy} + '\'>[' + ${tc} + ']</a>',
            mission=#{${'mission.' + event.mission}},
            r=${event.resources},
            withResources=${r.metal > 0 || r.crystal > 0 || r.deuterium > 0},
            resources=${
              '<mark data-tooltip data-tooltip-html data-tooltip-title=''' + #strings.escapeXml(
                '<p>' + #messages.msg('metal') + ': <strong>' + #numbers.formatInteger(r.metal, 1, 'DEFAULT') + '</strong></p>' +
                '<p>' + #messages.msg('crystal') + ': <strong>' + #numbers.formatInteger(r.crystal, 1, 'DEFAULT') + '</strong></p>' +
                '<p>' + #messages.msg('deuterium') + ': <strong>' + #numbers.formatInteger(r.deuterium, 1, 'DEFAULT') + '</strong></p>'
              ) + '''>' + @formatterService.prefixedNumber(r.metal + r.crystal + r.deuterium) + '</mark>'},
            units='<mark>' + ${@formatterService.formatUnits(event.units)} + '</mark>',
            sendMessageLink=@{/messages/send(body=${bodyId},recipient=${event.startUserId})},
            user='<a href=\'' + ${#strings.escapeXml(sendMessageLink)} + '\' title=\'' + #{sendMessage} + '\'>' + ${event.startUserName} + '</a>',
            partyLink=@{/party(body=${bodyId},party=${event.partyId})},
            party='<a href=\'' + ${#strings.escapeXml(partyLink)} + '\'>#' + ${event.partyId} + '</a>',
            kind=${event.kind}">
        <div th:if="${event.own}"
             th:utext="${#messages.msg('eventOwnFormat.' + kind, start, target, units)}"
             th:remove="tag"></div>
        <div th:unless="${event.own}"
             th:utext="${#messages.msgWithParams('eventForeignFormat.' + kind, { start, target, units, user })}"
             th:remove="tag"></div>
        <div th:if="${withResources}" th:utext="#{eventMissionWithResourcesFormat(${mission}, ${resources})}"
             th:remove="tag">
        </div>
        <div th:unless="${withResources}" th:utext="#{eventMissionFormat(${mission})}" th:remove="tag"></div>
        <div th:if="${event.partyId}" th:utext="#{eventPartyFormat(${party})}" th:remove="tag"></div>
      </td>
    </tr>
    <tr>
      <td th:if="${bodies.associatedBody != null}" class="overview-body" th:with="body=${bodies.associatedBody}">
        <span th:text="${body.name}"></span>
        <a href="#" th:href="@{/overview(body=${body.id})}">
          <img
              th:src="@{/static/skins/{skin}/bodies/{type}_{image}.jpg(skin=${skin},type=${body.type},image=${body.image})}"
              width="50" height="50">
        </a>
        <a th:if="${body.ongoingBuildingKind != null}" th:href="@{/buildings(body=${body.id})}"
           th:text="#{${'items.' + body.ongoingBuildingKind + '.name'}} + ' (' + ${body.ongoingBuildingLevel} + ')'"></a>
        <span th:unless="${body.ongoingBuildingKind != null}">free</span>
      </td>
      <td th:unless="${bodies.associatedBody != null}"></td>
      <td class="overview-body" colspan="2" th:with="body=${bodies.selectedBody}">
        <img
            th:src="@{/static/skins/{skin}/bodies/{type}_{image}.jpg(skin=${skin},type=${body.type},image=${body.image})}"
            width="200" height="200">
        <th:block th:if="${body.ongoingBuildingKind != null}">
          <a th:href="@{/buildings(body=${body.id})}"
             th:text="#{${'items.' + body.ongoingBuildingKind + '.name'}} + ' (' + ${body.ongoingBuildingLevel} + ')'"></a>
          <span th:text="${#dates.format(body.ongoingBuildingFinishAt, 'yyyy-MM-dd HH:mm:ss')}"></span>
        </th:block>
        <span th:unless="${body.ongoingBuildingKind != null}">free</span>
      </td>
      <td>
        <div id="overview-other-planets">
          <div th:each="body : ${bodies.otherPlanets}" class="overview-body">
            <span th:text="${body.name}"></span>
            <a href="#" th:href="@{/overview(body=${body.id})}">
              <img
                  th:src="@{/static/skins/{skin}/bodies/{type}_{image}.jpg(skin=${skin},type=${body.type},image=${body.image})}"
                  width="88" height="88">
            </a>
            <a th:if="${body.ongoingBuildingKind != null}" th:href="@{/buildings(body=${body.id})}"
               th:text="#{${'items.' + body.ongoingBuildingKind + '.name'}} + ' (' + ${body.ongoingBuildingLevel} + ')'"></a>
            <span th:unless="${body.ongoingBuildingKind != null}">free</span>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td th:text="#{diameter}">Diameter</td>
      <td colspan="3"
          th:text="#{diameterFormat(${#numbers.formatInteger(body.diameter, 1, 'DEFAULT')},${body.usedFields},${body.maxFields})}">
        13,420 km (42 / 180 fields)
      </td>
    </tr>
    <tr>
      <td th:text="#{temperature}">Temperature</td>
      <td colspan="3" th:text="#{temperatureFormat(${body.temperature})}">avg. 42°C</td>
    </tr>
    <tr>
      <td th:text="#{coordinates}">Coordinates</td>
      <td colspan="3" th:with="c=${body.coordinates}">
        <a th:href="@{/galaxy(body=${bodyId},galaxy=${c.galaxy},system=${c.system},position=${c.position},kind=${c.kind})}"
           th:text="${c}">1-2-3-P</a>
      </td>
    </tr>
  </table>
</div>
</body>
</html>